<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts | APP</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="./public/css/bootstrap.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="./public/css/all.css">
    <!-- my styles -->
    <link rel="stylesheet" href="./public/css/style.css">
    <style>
        .fade-enter-active {
            animation: slideIn 0.5s;
        }
        
        .fade-leave-active {
            animation: slideOut 0.5s forwards;
        }

        @keyframes slideIn {
            from {
                transform: translateX(-100vw);
            }

            to {
                transform: translateX(0px);
            }
        }

        @keyframes slideOut {
            from {
                transform: translateX(0px);
            }

            to {
                transform: translateX(-100vw);
            }
        }

        .flex-add {
            flex-direction: column;
        }
    </style>
</head>

<body>
    <div id="vue">
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header">
                        <form class="form-contact">
                            <div class="form-group">
                                <input type="search" class="form-control" v-model="searchQuery" placeholder="поиск контактов . . .">
                            </div>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addContact">
                                Добавить <i class="fa fa-user-plus"></i>
                            </button>
                        </form>
                    </div>

                    <table class="table table-striped table-dark" v-if="contacts.length">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Телефон</th>
                                <th scope="col">Адрес</th>
                                <th scope="col" colspan="2" v-if="contacts.length > 0">Email</th>
                                <th scope="col" v-else="">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="contact in resultQuery">
                                <th scope="row">{{ contact.id }}</th>
                                <th scope="row">{{ contact.name }}</th>
                                <td v-if="contact.phones.length > 1">{{ contact.phones[0] }} ...</td>
                                <td v-else>{{ contact.phones[0] }}</td>
                                <td v-if="contact.addresses.length > 1">{{ contact.addresses[0] }}...</td>
                                <td v-else>{{ contact.addresses[0] }}</td>
                                <td v-if="contact.emails.length > 1">{{ contact.emails[0] }} ...</td>
                                <td v-else>{{ contact.emails[0] }}</td>
                                <th scope="col" style="width: 50px;">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            :id="'edit-' + contact.id"
                                            @click="editContact"
                                            data-toggle="modal" data-target="#editContact">
                                        <i class="fa fa-user-edit" :id="'edit-' + contact.id"></i>
                                    </button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление нового контакта</h5>
                    <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-contact add" method="POST" @submit="checkForm">
                            <div class="name" style="width: 100%;">
                                <div class="form-group form-modal"> <!-- проверка формы -->
                                    <input type="text" class="form-control" name="name" placeholder="Имя" required>
                                </div>
                            </div>
                            <div class="telephones" style="width: 100%;">

                                <!-- <template v-if="isEdit"> -->
                                    <div class="form-group form-modal"> <!-- проверка формы -->
                                        <input type="text" class="form-control" name="phone" placeholder="телефон" required>
                                        <button type="button" class="btn btn-primary plus" id="btn-phone" @click="addInputPhone">+</button>
                                    </div>
                                    <div class="form-group form-modal fade-enter-active" v-for="(add, index) in addInputs.phone"> <!-- цикл -->
                                        <input type="text" class="form-control " name="phone" :placeholder="'телефон ' + add" required>
                                        <button type="button" class="btn btn-danger plus" @click="delNewInputPhone">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                
                            </div>
                            <div class="addresses" style="width: 100%;">
                                <div class="form-group form-modal"> <!-- проверка формы -->
                                    <input type="text" class="form-control" name="address" placeholder="адрес" required>
                                    <button type="button" class="btn btn-primary plus" id="btn-address" @click="addInputAddress">+</button>
                                </div>
                                <div class="form-group form-modal fade-enter-active" v-for="(add, index) in addInputs.address"> <!-- цикл -->
                                    <input type="email" class="form-control " name="address" :placeholder="'адрес ' + add" required>
                                    <button type="button" class="btn btn-danger plus" @click="delNewInputAddress">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="emails" style="width: 100%">
                                <div class="form-group form-modal"> <!-- проверка формы -->
                                    <input type="email" class="form-control" name="email" placeholder="email" required>
                                    <button type="button" class="btn btn-primary plus" id="btn-email" @click="addInputEmail">+</button>
                                </div>
                                <div class="form-group form-modal fade-enter-active" v-for="(add, index) in addInputs.email"> <!-- цикл -->
                                    <input type="email" class="form-control " name="email" :placeholder="'email ' + add" required>
                                    <button type="button" class="btn btn-danger plus" @click="delNewInputEmail">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <button type="submit" id="add" style="display: none;"></button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <label for="add" class="btn btn-success">
                            Добавить <i class="fa fa-user-plus"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Изменение контакта</h5>
                    <button type="button" class="close btn btn-secondary" data-dismiss="modal" @click="resetForm" :id="idForm" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-times" :id="idForm"></i>
                    </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-contact add" method="POST" :id="idForm" :class="'form-' + idForm" @submit="checkEdit">
                        <div class="name" v-if="contacts.length > 0 && idContact > 0" style="width: 100%;">
                            <div class="form-group form-modal"> <!-- проверка формы -->
                                <input type="text" class="form-control" name="name" :value="contacts[idContact-1] && contacts[idContact-1].name" placeholder="Имя" required>
                            </div>
                        </div>
                        <div class="telephones" style="width: 100%;">
                            <div class="form-group form-modal fade-enter-active" v-for="(add, index) in contact.phones"> 
                                <input type="text" :value="contact.phones[index]" class="form-control" name="phone" placeholder="телефон" required>
                                <button type="button" class="btn btn-primary plus"
                                                    id="btn-phone"
                                                    @click="addEddInputPhone"
                                                    v-if="index == 0">+</button>
                                <button type="button" class="btn btn-danger plus"
                                        :id="index"
                                        @click="delInputPhone"
                                        v-if="index != 0">
                                    <i class="fa fa-trash" @click="delInputPhone" :id="index"></i>
                                </button>
                            </div>
                        </div>
                        <div class="addresses" style="width: 100%;">
                            <div class="form-group form-modal fade-enter-active" v-for="(add, index) in contact.addresses"> 
                                <input type="text" :value="contact.addresses[index]" class="form-control" name="address" placeholder="address" required>
                                <button type="button" class="btn btn-primary plus"
                                                    id="btn-address"
                                                    @click="addEddInputAddress"
                                                    v-if="index == 0">+</button>
                                <button type="button" class="btn btn-danger plus"
                                        :id="index"
                                        @click="delInputAddress"
                                        v-if="index != 0">
                                    <i class="fa fa-trash" @click="delInputAddress" :id="index"></i>
                                </button>
                            </div>
                        </div>
                        <div class="emails" style="width: 100%">
                            <div class="form-group form-modal fade-enter-active" v-for="(add, index) in contact.emails"> 
                                <input type="email" :value="contact.emails[index]" class="form-control" name="email" placeholder="email" required>
                                <button type="button" class="btn btn-primary plus"
                                                    id="btn-emails"
                                                    @click="addEddInputEmail"
                                                    v-if="index == 0">+</button>
                                <button type="button" class="btn btn-danger plus"
                                        :id="index"
                                        @click="delInputEmail"
                                        v-if="index != 0">
                                    <i class="fa fa-trash" @click="delInputEmail" :id="index"></i>
                                </button>
                            </div>
                        </div>
                        <button type="submit" id="edd" style="display: none;"></button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            @click="delContact"
                            :id="idContact">
                        Удалить
                        <i class="fa fa-trash" :id="idContact"></i>
                    </button>
                    <label for="edd" class="btn btn-success">
                        Сохранить <i class="fa fa-save"></i>
                    </label>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript  -->
    
    <script src="./public/js/jquery-3.3.1.min.js"></script>
    <script src="./public/js/bootstrap.js"></script>
    <script src="./public/js/vue.js"></script>
    <script src="./public/js/app.js"></script>
</body>
</html>