body > .container {
  margin-top: 20px;
}

.header {
  background: #333;
  padding: 20px;
  border-radius: 15px 15px 0 0;
}

.modal-header {
  align-items: center;
}

button.close {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
}

button.close:hover {
  color: #fff
}

form.form-contact {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-contact .form-group {
  flex: 1 80%;
  display: flex;
  margin: 0;
}

.form-group.form-modal {
  margin: 10px 0 !important;
}

.form-contact .form-group input {
  width: 95%;
}

.form-contact button {
  flex: 1 5%;
}

.plus, .del {
  margin-left: 10px;
}

#addContact .modal-footer {
  justify-content: center;
  flex-direction: column;
}

.modal-footer {
  justify-content: space-between;
}

#addContact .modal-footer label.btn {
  width: 100%;
}

button.dropdown-toggle {
  background: transparent;
  border: none;

}

button.dropdown-toggle::after {
  display: none;
}

div.table-dark {
  text-align: center;
  padding: 0.75rem;
}

div.table-dark i.fas {
  color: #ffc107;
}